---
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
    SortPriority:    0
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
MaxEmptyLinesToKeep: 2
