/ {
    aliases {
        console = &usart2;
        stepper-bus = &uart5;
        camsense-uart = &usart1;
    };

};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
    status = "okay";
    current-speed = < 115200 >;
};

&uart5 {
    status = "okay";
    current-speed = < 115200 >;
    pinctrl-0 = < &uart5_rx_pd2 &uart5_tx_pc12 >;
    pinctrl-names = "default";
    single-wire;
};

