/ {
    aliases {
        console = &usart2;
        stepper-bus = &uart5;
        camsense-uart = &usart1;
        sw-side = &button0;
        sw-robot = &button1;
        sw-tirette = &button2;
        sw-pump = &button3;
        sw-valve = &button4;
        sw-electromagnet = &button5;
        red-pwm-led = &red_pwm_led;
        green-pwm-led = &green_pwm_led;
        blue-pwm-led = &blue_pwm_led;
        servo-orientation = &servo_0;
        servo-arm = &servo_1;
        servo-dicristaline1 = &servo_2;
        servo-dicristaline2 = &servo_3;
    };

    gpio_keys {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
            label = "sw cote";
        };
        button1: button_1 {
            gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
            label = "sw robot";
        };
        button2: button_2 {
            gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
            label = "tirette";
        };
        button3: button_3 {
            gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
            label = "tirette";
        };
        button4: button_4 {
            gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
            label = "tirette";
        };
        button5: button_5 {
            gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
            label = "tirette";
        };
    };

    pwmleds {
        compatible = "pwm-leds";
        green_pwm_led: green_pwm_led {
            pwms = <&pwm1 1 0 PWM_POLARITY_NORMAL>;
            label = "Green PWM LED";
            status = "okay";
        };
        blue_pwm_led: blue_pwm_led {
            pwms = <&pwm3 1 0 PWM_POLARITY_NORMAL>;
            label = "Blue PWM LED";
            status = "okay";
        };
        red_pwm_led: red_pwm_led {
            pwms = <&pwm3 2 0 PWM_POLARITY_NORMAL>;
            label = "Red PWM LED";
            status = "okay";
        };
        servo_0: servo_0 {
            pwms = <&pwm3 3 20000000 PWM_POLARITY_NORMAL>;
            label = "Servo 0";
            status = "okay";
        };
        servo_1: servo_1 {
			pwms = <&pwm2 1 20000000 PWM_POLARITY_NORMAL>;
			label = "Servo 1";
			status = "okay";
		};
        servo_2: servo_2 {
			pwms = <&pwm2 2 20000000 PWM_POLARITY_NORMAL>;
			label = "Servo 2";
			status = "okay";
		};
		servo_3: servo_3 {
			pwms = <&pwm2 3 20000000 PWM_POLARITY_NORMAL>;
			label = "Servo 3";
			status = "okay";
		};
	};
};

&timers1 {
    st,prescaler = <128>;
    status = "okay";

    pwm1: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8>;
        pinctrl-names = "default";
		label = "PWMS_1";
		#pwm-cells = <3>;
    };
};

&timers2 {
    st,prescaler = <128>;
    status = "okay";

	pwm2: pwm {
        compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pb8 &tim2_ch2_pb9 &tim2_ch3_pb10>;
		pinctrl-names = "default";
		label = "PWMS_2";
		#pwm-cells = <3>;
	};
};

&timers3 {
    st,prescaler = <128>;
    status = "okay";

    pwm3: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pb5 &tim3_ch4_pc9>;
        pinctrl-names = "default";
		label = "PWMS_3";
		#pwm-cells = <3>;
    };
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&usart2 {
    status = "okay";
    current-speed = < 115200 >;
};

&uart5 {
    status = "okay";
    current-speed = < 115200 >;
    pinctrl-0 = < &uart5_rx_pd2 &uart5_tx_pc12 >;
    pinctrl-names = "default";
    // single-wire;
};

&i2c1 {
    status = "disabled";
};